@model HotelManagement.Models.PAYMENT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PAYMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PAYMENT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_AMMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_AMMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.Room_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Room_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PATMENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
